deb {{ zabbix_agent_repo_url }}/{{ zabbix_agent_version }}/{{ ansible_distribution|lower }} {{ ansible_distribution_release }} main
deb-src {{ zabbix_agent_repo_url }}/{{ zabbix_agent_version }}/{{ ansible_distribution|lower }} {{ ansible_distribution_release }} main
