deb {{ zabbix_repo_url }}/{{ zabbix_version }}/{{ ansible_distribution|lower }} {{ ansible_distribution_release }} main
deb-src {{ zabbix_repo_url }}/{{ zabbix_version }}/{{ ansible_distribution|lower }} {{ ansible_distribution_release }} main
